@charset "UTF-8";
/* Variables des éléments graphiques du site */
/* Animation variables */
/* Z-index values */
/* Shadow Styles */
/* Mixins du site */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
.delay-seconds {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-seconds {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #f2f2f2;
  width: 100vw;
  height: 100%;
  -webkit-animation: loading-screen-anim 500ms 400ms both;
          animation: loading-screen-anim 500ms 400ms both;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner {
  height: 10vw;
  width: 10vw;
  border: 5px solid #0099ff;
  border-top-color: #0059ff;
  border-radius: 100%;
  -webkit-animation: spinner-rotation 0.6s infinite ease 0.25s;
          animation: spinner-rotation 0.6s infinite ease 0.25s;
}

.loading-logo {
  font-family: "Rubik", sans-serif;
  color: #0059ff;
}

@media (min-width: 1024px) {
  .loading-spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .spinner {
    height: 5vw;
    width: 5vw;
    border: 10px solid #0099ff;
    border-top-color: #0059ff;
    border-radius: 100%;
    -webkit-animation: spinner-rotation 0.6s infinite ease 0.25s;
            animation: spinner-rotation 0.6s infinite ease 0.25s;
  }
  .loading-logo {
    font-family: "Rubik", sans-serif;
    color: #0059ff;
  }
}

@-webkit-keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  90% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  90% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-90 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  90% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-90 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  90% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate90 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate90 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate-180 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  90% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-180 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  90% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate180 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate180 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes checkbox-rotatein {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes checkbox-rotatein {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

/* Website fonts: Roboto Condensed */
/* Website fonts: Khand */
/* Website fonts: Martel sans */
/* Website fonts: Rubik */
header.header--classic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  left: 0px;
  top: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
}

header.header--classic .navbar--folded {
  display: none;
  -webkit-animation: slide-right 200ms;
          animation: slide-right 200ms;
}

header.header--classic .navbar--expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-left 500ms;
          animation: slide-left 500ms;
  height: 20%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 6rem;
  right: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px;
}

header.header--classic .navbar--expanded li {
  list-style: none;
  font-family: "Khand", sans-serif;
  letter-spacing: 2px;
  margin: 7.5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(10, 10, 10, 0.7);
  -webkit-box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
          box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
  border-radius: 10px;
  padding: 0px 1rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header.header--classic .navbar--expanded li:hover {
  background-color: rgba(20, 20, 20, 0.5);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

header.header--classic .navbar--expanded li:hover {
  padding-left: 1.5rem;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transform-origin: right;
          transform-origin: right;
}

header.header--classic .navbar--expanded li a {
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

header.header--classic .navbar--expanded li a i {
  font-size: 0.8rem;
  margin-left: 5px;
}

header.header--classic .navbar--expanded li a:hover {
  font-weight: 600;
  font-style: italic;
  color: white;
  -webkit-animation: ease;
          animation: ease;
  text-shadow: #ffe550 0px 0px 5px;
}

header.header--classic .open-menu {
  display: inline-block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: var(--text-color);
  -webkit-box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
          box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 32px;
  height: 32px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  -webkit-transition: rotate(90deg) ease 500ms;
  transition: rotate(90deg) ease 500ms;
  -webkit-animation: rotate-180 500ms;
          animation: rotate-180 500ms;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

header.header--classic .open-menu:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header.header--classic .open-menu--opened {
  color: var(--text-color);
  background-color: var(--background-color);
  position: fixed;
  top: 1rem;
  right: 1rem;
  -webkit-box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
          box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 32px;
  height: 32px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  -webkit-animation: rotate180 500ms;
          animation: rotate180 500ms;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

header.header--classic .open-menu--opened:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header.header--classic .menu--button {
  font-size: 2rem;
  color: #f2f2f2;
}

header.header--classic .active {
  color: #0099ff;
  text-shadow: #0059ff 0px 0px 5px;
  font-weight: 600;
}

header.header--classic section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dark-mode-button {
  color: white;
  font-size: 24px;
}

/*
nav {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: $secondary-color;
  margin-bottom: 50px;
}*/
.logo {
  width: 50vw;
}

.user-dropdown {
  width: auto;
}

.profile-picture--image {
  width: 15%;
  border-radius: 50%;
  margin: auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1024px) {
  #nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo {
    width: 10vw;
  }
  .user-dropdown {
    width: 10vw;
  }
}

@media (min-width: 768px) {
  header.header--classic {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  header.header--classic .navbar--expanded li a {
    font-size: 1.5rem;
  }
  header.header--classic .navbar--expanded li a i {
    font-size: 1.3rem;
    margin-left: 5px;
  }
  header.header--classic ul {
    min-width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header.header--classic section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 20%;
    max-width: 40%;
  }
  header.header--classic section .fr-flag {
    width: 2.5rem;
    height: auto;
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
  }
  header.header--classic section .fr-flag:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  header.header--classic section .en-flag {
    width: 2.5rem;
    height: auto;
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
  }
  header.header--classic section .en-flag:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media (min-width: 1024px) {
  header.header--classic ul {
    min-width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header.header--classic ul li a {
    font-size: 1.5rem;
  }
  header.header--classic ul li a i {
    font-size: 1.3rem;
    margin-left: 5px;
  }
  header.header--classic section .fr-flag {
    width: 2rem;
  }
  header.header--classic section .en-flag {
    width: 2rem;
    height: auto;
  }
}

:root {
  --background-color: #f2f2f2;
  --text-color: $text-color;
  --marked-color: $text-color;
  --background-image: linear-gradient(-127deg, #ffffff, #f5f5f5);
  --color-links: #0099ff;
  --inverted-links: #ffe550;
}

[data-theme="darkMode"] {
  --background-color: rgb(10, 10, 10);
  --text-color: #f2f2f2;
  --marked-color: #f2f2f2;
  --background-image: linear-gradient(-127deg, #0b1424, #080f1b);
  --color-links: #ffe550;
  --inverted-links: #0099ff;
}

html {
  height: auto;
  min-height: 100vh;
  background-size: cover;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Khand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

a.link {
  color: var(--color-links);
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.button {
  border: transparent;
  height: 3rem;
  color: whitesmoke;
  font-family: "Khand", sans-serif;
  letter-spacing: 2px;
  margin: 7.5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(10, 10, 10, 0.7);
  -webkit-box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
          box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
  border-radius: 10px;
  padding: 0px 1rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.button:hover {
  background-color: rgba(20, 20, 20, 0.5);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collapsing {
  -webkit-transform: translateY(200px) scaleY(0.5);
          transform: translateY(200px) scaleY(0.5);
  opacity: 0;
}

.collapsible {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-image: var(--background-image);
  color: var(--text-color);
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
  width: 98%;
  margin: auto;
  padding: 2rem 0rem;
}

.collapsible--button {
  padding: 8px 2rem;
  margin: 1rem;
  border: 0px transparent;
  background-image: var(--background-image);
  color: var(--text-color);
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
}

.collapsible--button:focus {
  color: var(--text-color);
}

.collapsible--button:hover {
  color: var(--color-links);
}

.collapsible--button h2 {
  text-align: center;
}

.collapsible--content {
  padding: 1rem;
}

.collapsible--text {
  text-align: left;
}

.collapsible section {
  width: 90%;
  margin: auto;
}

mark {
  margin: 0px;
  padding: 0px;
}

mark.blue-undeline {
  background-color: transparent;
  padding-bottom: 3px;
  border-bottom: 3px solid #0099ff;
  color: var(--marked-color);
}

.modal-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.modal-button {
  color: var(--color-links);
  background-color: transparent;
  border: 0px;
  margin: 0px;
}

.modal-button:hover {
  background-color: rgba(14, 14, 14, 0.25);
  color: var(--inverted-links);
}

#page-marker {
  display: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  .collapsible--button h2 {
    text-align: left;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 32px;
  }
}

h1 {
  margin-top: 100px;
  margin-bottom: 25px;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: justify;
}

p {
  font-family: "Rubik", sans-serif;
  text-align: justify;
}

.intro {
  width: 90vw;
  margin: auto;
}

.intro li {
  font-family: "Roboto Condensed", sans-serif;
}

header.header--lg-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
  text-align: center;
}

header.header--lg-selector h1 {
  margin: auto;
  color: #0099ff;
  text-shadow: #0059ff 1px 1px 3px;
}

.language-selection-section {
  background: rgba(15, 15, 15, 0.5);
  padding: 5%;
  width: 90%;
  border-radius: 25px;
  color: #f2f2f2;
}

.language-selection-section h2.change-lg {
  text-align: center;
}

.language-selection-section .homepage-selector-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

.language-selection-section .homepage-selector-lang img {
  width: 50%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 25px;
}

.language-selection-section .homepage-selector-lang .fr {
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

.language-selection-section .homepage-selector-lang .fr:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

.language-selection-section .homepage-selector-lang .en {
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

.language-selection-section .homepage-selector-lang .en:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

@media (min-width: 768px) {
  .lg-selector {
    margin: 2%;
  }
  .language-selection-section {
    margin-top: 5%;
  }
  .language-selection-section .homepage-selector-lang {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .language-selection-section .homepage-selector-lang img {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .lg-selector {
    margin: 2%;
  }
  .language-selection-section {
    margin-top: 5%;
    width: 60%;
    overflow: hidden;
    margin: auto;
  }
  .language-selection-section .homepage-selector-lang {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .language-selection-section .homepage-selector-lang img {
    width: 50%;
  }
}

.portfolio--intro {
  text-align: center;
}

.portfolio--description-video {
  text-align: center;
}

.pic-slides {
  width: 90%;
}

.splide {
  margin: auto;
}

.splide--photo {
  width: 90%;
}

@media (min-width: 720px) {
  .pic-slides {
    width: 40%;
  }
  .splide--photo {
    width: 30%;
  }
}

.header--resume {
  width: 95%;
  margin: auto;
}

.header--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--block {
  background-image: var(--background-image);
  color: var(--text-color);
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  margin: auto;
  width: 80%;
  z-index: 3;
}

.header--block--text {
  width: 80%;
}

.title-info {
  background-image: var(--background-image);
  color: var(--text-color);
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 8px;
  z-index: 2;
  padding: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 720px) {
  .header--block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title-info {
    margin-top: 0px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  background-image: var(--background-image);
  color: var(--text-color);
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
  border-radius: 10px;
  min-width: 50%;
  height: 90%;
  padding: 1rem;
  margin: auto;
}

.contact-form--background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
}

.contact-form--category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.contact-form--category input,
.contact-form--category textarea {
  border: 0px transparent;
  border-radius: 5px;
  min-height: 3rem;
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 1px 2px 5px;
          box-shadow: rgba(10, 10, 10, 0.2) 1px 2px 5px;
  resize: none;
}

.contact-form--category textarea {
  height: 10rem;
}
/*# sourceMappingURL=main.css.map */