h1 {
  margin-top: var(--header-margin);
  margin-bottom: 25px;
}

h2 {
  font-family: var(--secondary-font);
  text-align: justify;
}

p {
  font-family: var(--terciary-font);
  text-align: justify;
}

.intro {
  width: 90vw;
  margin: auto;
  &--section {
    scroll-snap-align: start;
    height: 100vh;
  }
  &--inner-text {
    width: 70%;
    color: white;
    text-shadow: $classic-box-shadow;
    font-size: 20px;
    margin: 1rem;
    &--block {
      display: block;
      margin: auto;
    }
  }
  &--summary {
    margin: auto;
    justify-content: center;
  }
  &--introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-image: linear-gradient(
      to bottom,
      rgba(176, 116, 255, 1),
      rgba(108, 123, 255, 1)
    );
  }
  &--type {
    height: 100vh;
  }
  &--objectives {
    &--game {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to bottom,
        rgb(255, 116, 132),
        rgb(255, 226, 108)
      );
    }
    &--web {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to bottom,
        rgb(116, 255, 132),
        rgb(108, 179, 255)
      );
    }
    &--text {
      color: white;
      font-size: 20px;
      padding: 1rem;
      text-shadow: $classic-box-shadow;
    }
  }
}

.gamedev {
}

.webdev {
}

.homepage {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  &--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    line-height: 2rem;
    text-shadow: $primary-color 5px 0px 10px;
    margin: auto;
    &--block {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      height: 100vh;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      &--blur {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
      }
      &--dark {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.homepage--title:hover
  + .homepage--title--background--blur
  + .homepage--title--background--dark {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease-in-out;
}

.homepage--title:hover + .homepage--title--background--blur {
  filter: blur(5px);
  transition: all 0.5s ease-in-out;
}

li {
  font-family: var(--secondary-font);
}

@media (min-width: 720px) {
  .intro {
    &--inner-text {
      font-size: 30px;
    }
    &--objectives{
      &--game{
        justify-content: flex-end;
      }
      &--web{
        justify-content: flex-start;
      }
      &--text {
        color: white;
        font-size: 30px;
        padding: 1rem;
        width: 70%;
        text-shadow: $classic-box-shadow;
      }
    }
  }
  .homepage {
    //margin-top: $navbar-desktop-margin;
    &--title {
      font-size: 30px;
      &:hover {
        font-size: 40px;
      }
      &--block {
        height: 400px;
      }
    }
  }
}
