.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  &--header {
    width: 95vw;
  }
  &--content {
    width: 95vw;
  }
  &--description {
    text-align: justify;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
