<ul id="navbar-buttons-block" class="navbar--block">
  <li class="navbar--li">
    <a class="${homepageClass}" id="home" href="/${lang}/" onclick="route()">
      <i class="fa-solid fa-house"></i>
    </a>
  </li>
  <li class="navbar--li">
    <a
      class="${resumeClass}"
      id="resume"
      href="/${lang}/resume"
      onclick="route()"
    >
      My resume
    </a>
  </li>
  <li class="navbar--li">
    <a
      class="${portfolioClass}"
      id="portfolio"
      href="/${lang}/portfolio"
      onclick="route()"
    >
      My portfolio
    </a>
  </li>
  <li class="navbar--li">
    <a class="navbar--button" id="language-menu-button"> Langue </a>
    <div id="language-menu" class="hidden">
      <a class="navbar--button" href="/${lang}/${window.location.pathname.split("/")[2]}" onclick="route()">
        <img
          id="select-fr"
          class="language-flag"
          src="${flagFr}"
          width="48"
          height="48"
        />
      </a>
      <a class="navbar--button" href="/${lang}/${window.location.pathname.split("/")[2]}" onclick="route()">
        <img
          id="select-en"
          class="language-flag"
          src="${flagEn}"
          width="48"
          height="48"
        />
      </a>
    </div>
  </li>
</ul>
