.hidden {
  display: none;
}

.modal {
  &--container {
    display: flex;
    flex-direction: column;
  }
  &--background {
    display: flex;
    flex-direction: column;
    position: fixed;
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: var(--contact-zindex);
  }
  &--content {
    position: relative;
    background-color: $bg--light;
    width: 90%;
    border-radius: 15px;
    box-shadow: $classic-box-shadow-low-opacity;
  }
  &--header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &--body {
    width: 100%;
  }

  &--exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: $text--light;
    cursor: default;
    &:hover {
      background-color: red;
      border-radius: 0px 15px 0px 0px;
      color: white;
    }
  }
}

.contact-form {
  margin: 0;
}
.contact-form-category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

input,
textarea {
  border: 0px transparent;
  border-radius: 5px;
  min-height: 3rem;
  resize: none;
}
textarea {
  height: 10rem;
}

@media (min-width: 720px) {
  .modal {
    &--content {
      width: 70%;
    }
  }
}
